<div class="container my-5">
  <div class="bookings d-flex gap-4" style="position: relative;">
    <div class="flex-fill">
      <h3 style="text-align: center">My Bookings</h3>
      <% if @bookings.any? %>
        <% @bookings.each do |booking| %>
          <div class="card-container">
            <div class="card-info">
              <div>
                <strong style="margin-right: 5px;">Item:</strong><%= booking.item.name %>
              </div>
              <div>
                <strong style="margin-right: 5px;">Booking For:</strong><%= booking.date %>
              </div>
              <div>
                <strong style="margin-right: 5px;">Status:</strong><%= booking.status %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <em>Sorry, You don't have any bookings yet!</em>
      <% end %>
    </div>

    <div class="vertical-line" style="border-left: 1px solid #ccc; height: 100%; position: absolute; left: 50%; transform: translateX(-50%);"></div>

    <div class="flex-fill">
      <h3 style="text-align: center">My Rentals</h3>
      <% if @i_book.any? %>
        <% @i_book.each do |booking| %>
          <div class="card-container">
            <div class="card-info">
              <div>
                <strong style="margin-right: 5px;">Item:</strong><%= booking.item.name %>
              </div>
              <div>
                <strong style="margin-right: 5px;">Booked By:</strong><%= booking.user.email %>
              </div>
              <div>
                <strong style="margin-right: 5px;">Booking For:</strong><%= booking.date %>
              </div>
                <% if booking.pending? %>
                  <div class="d-flex gap-2">
                    <%= link_to "Approve", approve_booking_path(booking),
                        data: { turbo_method: :patch },
                        class: "btn btn-success" %>
                    <%= link_to "Decline", decline_booking_path(booking),
                        data: { turbo_method: :patch },
                        class: "btn btn-danger" %>
                  </div>
                <% elsif booking.approved? %>
                  <em class="text-success">Marked as approved!</em>
                <% elsif booking.declined? %>
                  <em class="text-danger">Marked as declined!</em>
                <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <em>Sorry, You don't have any bookings yet!</em>
      <% end %>
    </div>
  </div>
</div>
