<div class="container my-5">

      <h1 style="text-align: center">Find What You Need, Rent What You Love</h1>
    <div class="row justify-content-center">
      <div class="col-lg-12 my-3 d-flex space-between">
          <a href="?category=event_set_up" class="button col-lg-2 mx-2 p-2">
      <i class="bi bi-gear"></i> Set-up
    </a>
    <a href="?category=sound_system" class="button mx-2 col-lg-2 p-2">
      <i class="bi bi-music-note"></i> Sound
    </a>

      <%= form_with url: items_path, method: :get, class: "search-box d-flex col-lg-8" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Which item?"
              %><%= submit_tag "Search", name: "", class: "search-button" %>

          <% end %>


      </div>
    </div>
  <div class="cards">
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= item.photo.attached? ? cl_image_path(item.photo.key) : asset_path('homepage.png') %>')">
          <%= item.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
