<div class="container">
<h1 class="item-title text-center display-4 font-weight-bold" style="font-family: 'Oswald', sans-serif; padding: 15px;">
  Take your event to new heights with the <strong class="text-success"><%= @item.name.upcase %></strong>!
</h1>

  <div class="card-trip">
  <%= image_tag "logo.jpg", alt: "item-each" %>
  <div class="card-trip-infos">
    <div>
      <p><%= @item.description %></p>
      <p>Listed by: <%= @item.user.first_name %> <%= @item.user.last_name %></p>
    </div>
    <h2 class="card-trip-pricing">R<%= @item.price %></h2>
  </div>
  </div>

    <div data-controller="toggle"  class="my-5">
      <button  data-action="click->toggle#fire" class="btn btn-outline-primary">Book Now</button>
      <div data-toggle-target="togglableElement" class="d-none">
        <%= render "form", booking: @booking %>
      </div>
    </div>
</div>
